$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  background: hsla(0,0%,0%,.6);
  &#home a.homelink, 
  &#projects a.projectslink,
  &#update a.updatelink,
  &#login a.loginlink
  {color: yellow;}
}

select {
  font-weight: bold;
}

.hotels label {
  color:#fff;
  text-transform: uppercase;
}

a:active {color:yellow;text-decoration:none !important;}
a:visited {text-decoration:none !important;}

.pagenav {
  z-index:1;
  width: 100%;
  text-align: center;
  ul {
    margin:0;
    a {
      padding: 4px;
      font-weight: bold;
    }
  }
  .panel{margin-bottom: 0;border-radius: 0 0 0 0;background: darkred;
    a {
      color:#ccc;text-decoration:none;font-variant: small-caps;
      &.selected,&:hover {color:#fff;text-shadow:1px 1px #000;}
      &[href*=about] {background: url(../img/Person.png) no-repeat left center;}
      &[href*=skills] {background: url(../img/bulb.png) no-repeat left center;}
      &[href*=recent] {background: url(../img/time2.png) no-repeat left center;}
      &[href*=about],&[href*=skills],&[href*=recent]
      {padding-left:22px;background-size:20px;}
    }
  }
}

.unselected {font-weight:normal;}
.selected {font-weight:normal;background-color:transparent;}

.wrapper {
  /* Margin bottom by footer height */
  margin:0 0 $footer-height+20;
}

input[type=text], input[type=email], textarea {border:none;width:100%;color:#000;}
input[type=submit]{width:auto;}
.intro form {
  margin:0 auto;
  div {margin-bottom: .4em;}
  input[type=text],input[type=email]{padding:.3em;}
}

.equal {  
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  margin-bottom:20px;
}

.panel {
  h2 {margin-top: 0;}
  &.hunp {height:100%;}
}

.intro {
  h2 {background: url(../img/Person.png);}
}

.skills {
  h2 {background: url('../img/bulb.png');}
  .panel-body {
    padding: 0;
    ul {
      list-style:none;
      padding-left: 20px;
      padding-right: 20px;
      li {
        margin-bottom: 4px;
        border-bottom: 1px dotted rgba(200,200,200,.2);
        i {
          font:bold 1.2em arial;
          letter-spacing: 2px;
          color:hsla(0,100%,50%,.6);
          text-shadow: 1px 1px 1px rgba(255,255,255,.5);
        }
      }
    }
  }
}

.recent {
  h2 {background: url('../img/time2.png');padding-bottom:0;}
  p {margin-left:0;}
  ul{text-align: center;}
  li{padding:0;}
  li:first-child{margin-left:0;}
  .list-inline {margin-left:0;}
}

.travelodge-affiliate {
  h2 {background: url('../img/travelodge.png');padding-bottom:0;}
  h3 {margin-top: 0;margin-bottom: 0;padding-bottom: 0;}
  legend{margin-bottom: 0;}
  .panel {border-radius: 0 0 .4em .4em;}
}

.list-group {color:#fff;font: bold 1.2em tahoma, arial, helvetica, sans-serif;}

.zero {cursor: pointer;}

span.hoteldescr {text-transform:uppercase;font-weight:bold;background-color:yellow;color:#000;}

.intro, .skills, .recent, .travelodge-affiliate {
  h2 {
    background-repeat: no-repeat;
    background-position: right 10px;
    padding-right: 70px;
  }
}

ul.nav {
  margin-bottom: 0;
  li {
    a {font-weight: normal;}
  }
}

.error {color:#f00;font-weight:bold;}

.success {color:lime;font-weight:bold;}

.halfopacity {opacity:.5;}

.checkbox label input {margin:0;}

.scrollup {
  width:40px;
  height:40px;
  opacity:0.3;
  position: fixed;
  text-indent:-9999px;
  bottom:10px;
  right:20px;
  background: url('../img/icon_top.png') center center no-repeat;
  z-index: 2;
}

body#update div {
  textarea {height:4em;}
  input[type=date]{width:8em;}
}

body#update form {
  width: auto;
  max-width: 1200px;
  margin:0 auto;
  div {margin-top:.2em;margin-bottom:.2em;}
  input[type=text],input[type=email]{font-weight: bold;}
  textarea{}
  #travelodge {
    input[type=text]{width:4em;}
  }
}


.overlay_container {
  position: fixed;
  top:0;left:0;
  width:100%;
  height:100%;
  overflow:auto;
  z-index:3;
  margin: 0;
  background: hsla(30,0%,50%,.5);
  img {width:100%;}
  div img {position:fixed;top:0;right:10px;cursor:pointer;width:50px;}
}

body#login form {
  max-width: 400px;
  margin:0 auto;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: #181818;
  box-shadow: 0 2px 0 inset #000;
  color: red;
}



@media (max-width: 978px) {
  .skills {margin-top: 20px;}
/*  .recent ul {
    margin:0 auto;
    li {margin-top: 1em;text-align: center;}
  }*/
}

/* Small devices (tablets, 768px and up) */
/*@media (max-width: 480px) {
  .hunp {
    height: auto;
  }
}
*/
/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { ... }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/
