$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  background: hsla(0,0%,0%,.6);
  &#home a.homelink, 
  &#projects a.projectslink,
  &#update a.updatelink,
  &#login a.loginlink
  {color: yellow;}
}

.pagenav {
  z-index:1;
  width: 100%;
  text-align: center;
  ul {
    margin:0;
  }
}

.unselected {font-weight:normal;}
.selected {font-weight:bold;border:1px solid black;}

.wrapper {
  /* Margin bottom by footer height */
  margin:0 10px $footer-height;
}

input[type=text], input[type=email], textarea {border:none;width:100%;color:#000;}
input[type=submit]{width:auto;}
.intro form {
  margin:0 auto;
  div {margin-bottom: .4em;}
  input[type=text],input[type=email]{padding:.3em;}
}

.equal {  
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 2em;
}

.panel {
  h2 {margin-top: 0;}
  &.hunp {height:100%;}
}

.intro {
  h2 {background: url(../img/Person.png);}
}

.skills {
  h2 {background: url('../img/bulb.png');}
  .panel-body {
    padding-left: 0;
    ul {
      padding-left: 30px;
      padding-right: 30px;
      li {list-style: square;
        i {font-weight:bold;color:darkred;}
      }
    }
  }
}

.recent {
  h2 {background: url('../img/time2.png');padding-bottom:0;}
  p {margin-left:0;}
  li{padding:0;margin-right:15px;}
  li:first-child{margin-left:0;}
  .list-inline {margin-left:0;}
}

.travelodge-affiliate {
  h2 {background: url('../img/travelodge.png');padding-bottom:0;}
  h3 {margin-top: 0;margin-bottom: 0;padding-bottom: 0;}
  legend{margin-bottom: 0;}
}

.zero {cursor: pointer;}

span.hoteldescr {text-transform:uppercase;font-weight:bold;background-color:yellow;color:#000;}

.intro, .skills, .recent, .travelodge-affiliate {
  h2 {
    background-repeat: no-repeat;
    background-position: right 10px;
  }
}

ul.nav {
  margin-bottom: 0;
  li {
    a {font-weight: normal;}
  }
}

.error {color:#f00;font-weight:bold;}

.success {color:lime;font-weight:bold;}

.halfopacity {opacity:.5;}

.checkbox label input {margin:0;}

.scrollup {
  width:40px;
  height:40px;
  opacity:0.3;
  position: fixed;
  text-indent:-9999px;
  bottom:10px;
  right:1%;
  background: url('../img/icon_top.png') center center no-repeat;
  z-index: 2;
}

body#update div {
  textarea {height:4em;}
  input[type=date]{width:8em;}
}

body#update form {
  width: auto;
  max-width: 1200px;
  margin:0 auto;
  div {margin-top:.2em;margin-bottom:.2em;}
  input[type=text],input[type=email]{font-weight: bold;}
  textarea{}
  #travelodge {
    input[type=text]{width:4em;}
  }
}


.overlay_container {
  position: fixed;
  top:0;left:0;
  width:100%;
  overflow:auto;
  height:100%;
  font-size:200%;
  z-index:3;
  margin: 0;
  background: hsla(30,0%,50%,.5);
  img {width:100%;}
  div {position:fixed;top:0;right:10px;cursor:pointer;background:rgba(0,0,0,.4);
    font-weight:bold;border:2px solid #000;border-radius: .4em;
  }
}

body#login form {
  max-width: 400px;
  margin:0 auto;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: #181818;
  box-shadow: 0 2px 0 inset #000;
  color: red;
}

@media (max-width: 978px) {
  .skills {margin-top: 30px;}
  .recent ul {
    margin:0 auto;
    li {margin-top: 1em;text-align: center;}
  }
}
