body {
  background: hsla(0,0%,0%,.6);
  color: #ccc;
  font:1em Arial;
  padding:0;
  margin:0 1em 0;
  &#home a.homelink, 
  &#projects a.projectslink,
  &#update a.updatelink,
  &#login a.loginlink
  {color: yellow;}
  
}

ul.nav {
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    padding-left: 0;
    display: inline-block;
    text-align: center;
    a {font-weight: bold;margin-right: 1em;
      border: none;font: 1.3em verdana;}
  }
}

.error {color:#f00;font-weight:bold;}
.success {color:lime;font-weight:bold;}

div.topdiv {
  display:flex;
  flex-wrap:wrap;
}

a {
  color:#ccc;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
  &:hover {color:#000;}
}

fieldset {
  box-sizing: border-box;
  margin:1em 0 0 0;
  &.intro {
    border: 2px solid blue;
    box-shadow: 1px 1px 8px rgba(0,0,255,.8);
    width:40%;
    p {line-height: 1.6;font-size: 150%;}
    form {text-align: center;}
    div {margin-bottom: .4em;}
    input,textarea {box-sizing:border-box;width:70%;font:1em arial;}
    input[type=submit]{font-weight: bold;cursor: pointer;background:navy;color:#fff;border:none;border-radius:.3em;padding:.3em;}
  }
  &.skills {
    border: 2px solid red;
    box-shadow: 1px 1px 8px rgba(255,0,0,.8);
    width: 59%;
    
  }
  p, &.skills li {
    font-size:1.5em;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px navy;
  }
  p {margin: .5em 1em;}
  &.skills ul {
    margin-top: .75em;
    padding-left:1.5em;
    font-size:75%;
    i {color: yellow;}
    li {
      text-align: left;
      list-style: square;
      margin-bottom: .5em;
    }
  }
  legend {
    font: 2.1875em tahoma;
    text-transform: uppercase;
    text-align: center;
    width:100%;
    background: linear-gradient(hsla(240,100%,50%,1)60%,hsla(0,100%,50%,.5));
    background-image: url(../img/me.png), linear-gradient(hsla(240,100%,50%,.8)60%, hsla(20,0%,50%,.8));
    background-position: 10px center, 0 0;
    background-repeat: no-repeat;
    font-weight: bold;
    text-shadow: 1px 1px 0px #ccc;
    letter-spacing: .5em;
    padding:0;
  }
  &.skills legend {
    background-image: url(../img/skill.png), linear-gradient(hsla(0,100%,50%,.8)60%, hsla(20,0%,50%,.8));
  }
  &.recent {
    border: 2px solid hsla(30,100%,50%,1);
    box-shadow: 1px 1px 8px hsla(30,100%,50%,.8);
    padding-bottom: 0;
    ul {
      list-style: none;
      padding:0;
      li {
        display: inline-block;
        width: 20%;
        text-align: center;
      }
    }
    img {box-shadow: 2px 2px 2px #000;}
  }
  &.recent legend {
    background-image: url(../img/time.png), linear-gradient(hsla(30,100%,50%,.8)60%, hsla(20,0%,50%,.8));
  }
}

body#update fieldset {
  width:auto;
  textarea,input[name^=skillcontent] {
    box-sizing:border-box;width:100%;
    font:1em arial;
  }
  input {font-weight: bold;}
  textarea {height:4em;}
}

fieldset, fieldset legend {
  border-radius: .3em;
  color:#fff;
}

div.sep {width:1%;}

@media only screen and (min-width: 601px) and (max-width: 990px) {
  fieldset.intro {
    float:none;
    width:auto;
    height: auto !important;
  }
  fieldset.skills {width:100%;}
  fieldset.recent li {
    display: block;
    width: 33% !important;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 600px) {
  fieldset.intro {
    float:none;
    width:auto;
    height: auto !important;
  }
  fieldset.skills {width:100%;}
  fieldset.recent li {
    width: 50% !important;
    margin-bottom: 1em;
  }
}
